.table {
    width: 100%;
    border-spacing: 0;
    padding: $gridSpacing;
    background-color: #0f0f0f;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px #0f0f0f6c;

    & .cell-m {
        width: 10rem;
    }

    & thead th {
        color: rgba($fontColor1, .7);
        padding: $gridSpacing;
    }

    & td {
        padding: $gridSpacing;
        border-top: 1px solid #7777773a;
        border-bottom: 1px solid #7777773a;

        &:first-child {
            border-left: 0px solid #7777773a;
            border-right: 1px solid #7777773a;
        }
    }
}